<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Zahlenraten.Properties.CustomColors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Zahlenraten.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Zahlenraten.Properties.CustomColors>
      <setting name="CustomColor1" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor2" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor3" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor4" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor5" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor6" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor7" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor8" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor9" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor10" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor11" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor12" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor13" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor14" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor15" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor16" serializeAs="String">
        <value />
      </setting>
      <setting name="CustomColor0" serializeAs="String">
        <value />
      </setting>
    </Zahlenraten.Properties.CustomColors>
    <Zahlenraten.Properties.Settings>
      <setting name="Tipps_Anzeigen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Highscore10" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Highscore25" serializeAs="String">
        <value>27</value>
      </setting>
      <setting name="Highscore50" serializeAs="String">
        <value>53</value>
      </setting>
      <setting name="Highscore75" serializeAs="String">
        <value>77</value>
      </setting>
      <setting name="Highscore100" serializeAs="String">
        <value>102</value>
      </setting>
      <setting name="Wilkommen_Anzeigen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Leicht" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Hintergrundfarbe" serializeAs="String">
        <value>Turquoise</value>
      </setting>
      <setting name="PlayRight" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlayIncorect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlayWrong" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>1</value>
      </setting>
    </Zahlenraten.Properties.Settings>
  </userSettings>
</configuration>